@use './bootstrap';

//COLORES
$color1: #621031;
$color2: #9F2241;
$color3: #D6C19C;
$color4: #DDDDDD;
$color5: #9A9A9A;
$color6: #1A1A1A;
$color7: #F6F6F6;
$color8: #7F9097;
$color9: #BBB5B5;
$colorWhite: #ffffff;

//COLORES-DEGRADADO
$Dcolor1:#21409A;
$Dcolor2:#D958A0;
$Dcolor3:#E95A5C;
$Dcolor4:#F7943E;
$Dcolor5:#FFDA0D;

@mixin padbot {
    padding-bottom: 50px;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: $color7;
}



//HEADER<<<<<<<<<<<<
.header{
    color: $color1;
    ul{
        list-style: none;
        display: flex;
        li{
            margin: auto;
            a{
                text-decoration: none;
                color: $color1;
                &:hover{
                    color: $color1;
                    background-color: $color4;
                }
            }
        }
    }
    @include padbot();
}
//HEADER FIN<<<<<<<<<<<<

//FOOTER<<<<<<<<<<<<
.footer{
    background-image: url(src/SVG´s/FondoFooter.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    h6{
        color: $colorWhite;
    }
    ul{
        list-style: none;
        padding-bottom: 10px;
        li{
            padding-bottom: 10px;
            color: $color7;
            margin: auto;
            a{
                text-decoration: none;
                color: $color7;
                &:hover{
                    color: $color7;
                }
            }
        }
    }
    hr{
        border-color: $color6;
        border-width: 5px;
    }
    .BGCw{
        background-color: $colorWhite;
    }
}
//FOOTER FIN<<<<<<<<<<<<

//HEADER-NOTICIAS<<<<<<<<<<<<
.header-noticias{
    background-color: $Dcolor3;
    display: flex;
    ul{
        align-self: center;
        list-style: none;
        display: flex;
        li{
            margin: 0 10px;
            a{
                text-decoration: none;
                color: $colorWhite;
                margin: auto;
            }
        }
    }
}
//HEADER-NOTICIAS FIN<<<<<<<<<<<<

//FOOTER-NOTICIAS<<<<<<<<<<<<
.footer-noticias{
    background-color: $color6;
    padding-top: 40px;
    padding-bottom: 80px;
    h6{
        color: $colorWhite;
    }
}
//FOOTER-NOTICIAS FIN<<<<<<<<<<<<

//GLOBAL<<<<<<<<<<<<
.pad{
    @include padbot();
}

h2{
    color: $color1;
    font-weight: bold;
}

h5{
    color: $Dcolor3;
}

h4{
    color: $color2;
}

h6{
    color: $color2;
}

h7{
    font-weight: bold;
}

.noticias{
    p{
        color: $color2;
    }
}

.notice-bottom{
    background-color: $Dcolor4;
    width: fit-content;
    padding: 5px 30px 1px 30px;
    text-align: center;
    h6{
        color: $colorWhite;
    }
}

.BGCg{
    background-color: $color4;
}

.directorio{
    
    .BGCw{
        background-color: $colorWhite;
    }
    h7{
        color: $Dcolor3;
    }
    a{
        text-decoration: none;
        color: $Dcolor3;
    }
}


.enlace1{
    background-color: $Dcolor3;
    color: $colorWhite;
}
.enlace2{
    background-color: $Dcolor1;
    color: $colorWhite;
}
.enlace3{
    background-color: $Dcolor4;
    color: $colorWhite;
}
.enlace4{
    background-color: $Dcolor2;
    color: $colorWhite;
}
.enlace5{
    background-color: $Dcolor5;
    color: $colorWhite;
}

.lista_info{
    a{
        color: $Dcolor4;
    }
    ul{
        list-style: none;
        display: flex;
    }
}

.articulos{
    text-align: center;
    img{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h5{
        color: $Dcolor4;
        padding-bottom: 20px;
    }
    p{
        padding-bottom: 20px;
    }
}

.BGCw{
    background-color: $colorWhite;
}

.fracc{
    p{
        color: $color2;
    }
    div{
        &:hover{
            background-color: $Dcolor4;
            p{
                color: $colorWhite;
            }
        }
    }

}
.fracc_sel{
    .num{
        text-align: center;
        background-color: $Dcolor4;
        h4{
            color: $colorWhite;
        }
    }
    
    h5{
        color: $color2;
    }
    h6{
        color: $color6;
        font-weight: bold;
    }
}

.noticias{
    p{
        color: $color8;
    }
    p1{
        color: $color9;
    }
    h5{
        color: $color6;
    }
    h6{
        color: $Dcolor3;
    }
}
//GLOBAL FIN<<<<<<<<<<<<
